body {
    padding-top: 30px;
    background-color: #f6f6f6; 
}
  
html {
    color: #111;
    font-size: 13.5px;
    line-height: 2px; 
}
  
a {
    color: #039be5;
    text-decoration: none;
    transition: 0.7s; 
}
  
a:hover {
    opacity: 0.7; 
}


.contenedor01{
    background-color: inherit;
    border-left: 1px solid #a0a0a033;
    border-right: 1px solid #a0a0a033;
    position: relative;
    padding: 16px 24px;
    text-align: center;
    box-sizing: inherit;
    font-weight: 300;
    color: #111;
    font-size: 13px;
    line-height: 1.8em;
    background-color: #fff; 
}

.contenedor02{
    background-color: inherit;
    border-left: 1px solid #a0a0a033;
    border-right: 1px solid #a0a0a033;
    position: relative;
    padding: 16px 24px;
    text-align: center;
    box-sizing: inherit;
    font-weight: 300;
    color: #111;
    font-size: 13px;
    line-height: 1.8em;
    background-color: #fff; 

    border-bottom: 1px solid #a0a0a033;
    margin-bottom: 10px;
}  

.nombre_cv{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    box-sizing: inherit;
}

.trabajo{
    color: #fff;
    font-size: 13.5px;
    background: #039be5;
    opacity: 0.6;
    font-weight: bold;
    margin-bottom: 3px;
    margin-right: 3px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    text-align: center;

}

.material-icons {
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    font-size: 27px;
    color: #a0a0a0;
    

}

.contenedor_icono_izq{
  text-align: left;
}

.parrafo01{
    text-align: left;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.parrafo01_strong{
    text-align: left;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 1px;
}

.divisor{
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    font-weight: 300;
    color: #111;
    margin-bottom: 10px;
    
}


.lista01 li{
    text-align: left;

}

.texto_aclaracion {
    color: #666;
    font-size: 0.82em; 
}

.texto_aclaracion2 {
  color: #039be5;
  font-size: 11px; 
}


.buttons_redes_sociales {
  min-width: 100px;
  display: flex;
  justify-content: space-around;
}

.buttons_redes_sociales a {
  text-decoration: none;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #00000080;
  transition: all .4s ease-in-out;
}

.buttons_redes_sociales a:hover {
  transform: scale(1.2);
}

.contenedor_titulo01{
  line-height: 32px;
  margin-bottom: 17px;
  font-size: 30px;
  font-weight: 300;
  color: #a0a0a0;
  text-align: left;
}

.contenedor_titulo01:hover{
  transform: scale(1.04);
  color: #3a3636;
}  

.titulo01{
  margin-left: 10px;
  color: #111;
}

.contenedor03{
  text-align: left;
  padding-top: 0px;
}


.row ul {
  padding-left: 15px; 
}

.divisor2{
  margin-bottom: 10px; 
}

.final_titulo{
  color: #039be5;
  float: right;
}
